<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Show</title>
</head>
<body>
    <div>
        <h1>{{dojo.name}} Ninjas</h1>
        {{dojo.created_at}}
        <table>
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Created At</th>
                <th>Updated</th>
            </thead>
            <tbody>
                {% for ninja in dojo.all_ninjas %}
                    <tr>
                        <td>{{ ninja.first_name }}</td>
                        <td>{{ ninja.last_name }}</td>
                        <td>{{ ninja.age }}</td>
                        <td>{{ ninja.created_at }}</td>
                        <td>{{ ninja.updated_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/">Home</a>
</body>
</html>